.tasks {
    display: flex;
    flex-direction: column;
    max-width: 30%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    position: sticky;
}

.task {
    margin: 1px;
    border: 1px solid gold;
    font-size: smaller;
    max-width: 400px;
}

.taskForm {
    max-width: 30%;
}
